# Data Indexing and Selection
---

In the previous units we learnt about the concepts of __Series__ and __DataFrames__ and how to construct them. Let's explore the ways we can access subsets of data from them. 

---
## 1. Data Indexing and Selection - Definition:
__Data Indexing__  (also __Subset Selection__) in Pandas simply means selecting a certain sub-part of data from a Pandas Object.

In the context of a __Series__, data indexing could mean selecting one or multiple elements of a Series. In the context of __DataFrames__, data indexing could refer to selecting a subset of rows and columns, individual values, etc.

In [2]:
# Imports
import pandas as pd
import numpy as np
import datetime as dt

---
## 2. Series - Data Indexing and Selection:
Recall that __Series__ are 1-dimensional objects of indexed data.
We can index a Series object in one of the following ways:
- __Explicit vs Implicit Indexing__
- __Slicing__
- __Boolean Indexing__

---
### 2.1 Explicit vs Implicit Indexing:
The first way to select an element from a Series is by using its __index__ as a key!


- __Explicit Indexing__ - accessing a single element via the actual label (name) of its corresponding index
- __Implicit Indexing__ - accessing a single element via the integer position of its corresponding index

Syntax:
-  __Explicit Indexing__ - `series_name.loc[index_label]`
- __Implicit Indexing__ - `series_name.iloc[index_position]`


__Point to Note__: Indexing is done by using one of two possible accessors - `.loc` and `.iloc`. An easy way to distinguish them from one another is by remembering that `.iloc` stands for __integer location__. In fact, associating the __i__ in `.iloc` with __integer, index,__ or even __implicit__ will help you remember which indexing method does what in the future!

In [3]:
# Create a series
s = pd.Series(['a','b','c','d'], index=[1,2,3,4])
display(s)

1    a
2    b
3    c
4    d
dtype: object

In [ ]:
# Explicit indexing (using the actual index labels)
# in this example we access the element, corresponding to index of name 1
print('Explicit indexing s.loc[1]: ', s.loc[1])

In [ ]:
# Implicit index (using the position)
# in this example we access the element, corresponding to position number 1
# Recall that Series are 0-indexed -- the element on position 1 is in fact the 2nd element in the Series
print('Implicit indexing s.iloc[1]: ', s.iloc[1])

Using __unspecified indexing__ is __NOT recommended!__

Without passing an accessor, Pandas will try to find an element with the specified index label, and if it does not exist, it will search for an element with the specified index position. In any ways, not using an accessor when indexing Series introduces __ambiguity__.

In [ ]:
# in this case using unspecified indexing resulted in locating the element, corresponding to index label 1
print('Unspecified indexing s[1]: ', s[1])

---
### 2.2 Slicing:
We learnt how to access a single element of a Series via Explicit or Implicit Indexing.
To access a subset of elements of a Series, we use a method, called __Slicing__!


__Slicing__ leverages the same accessors as Indexing - `.loc` and `.iloc`. This time however, instead of passing on a single argument - the index label, or the index position of the desired element, we will be passing two arguments, delimited by a colon (__:__)


Syntax:
- __Explicit Slicing__ - `series_name.loc[start_index_label: stop_index_label]` - value corresponding to stop_index_label is __included__ in the output
- __Implicit Slicing__ - `series_name.iloc[start_index_position: stop_index_position]` - value corresponding to stop_index_label is __excluded__ from the output

In [ ]:
# Create a Series
s = pd.Series(['a','b','c','d'], index=[1,2,3,4])
display(s)

In [ ]:
# Explicit Slicing - both values at index labels 1 and 3 included -- output has length 3
print('Using explicit slicing s.loc[1:3]')
s.loc[1:3]

In [ ]:
# Implicit Slicing - value at index position 3 is excluded - output has length 2
print('Using implicit slicing s.iloc[1:3]')
s.iloc[1:3]

---
### 2.3 Boolean Indexing (Masking):

__Boolean indexing__ is an alternative method to index a Series/DataFrame using a __boolean mask__.
A __mask__ is a vector of boolean objects - e.g. `[True, False, True]`.
When a Pandas Object (Series or DataFrame)  is indexed by a boolean mask, the resultant output will be the subset of rows which match to True values.

In [4]:
# Create a Series
s = pd.Series([1,2,3,4,5])
display(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
# Create a mask explicitly (manually entering True/False bools)
# note - once the mask is created, we can pass it onto the series via using the [] operator
mask = [True, True, True, False, False]
print('After applying the boolean mask:')
s[mask]

After applying the boolean mask:

0    1
1    2
2    3
dtype: int64

What makes this useful, is that we can create this mask __implicitly__ by using the __values__ of the Series.
When values of a Series are passed to a boolean expression, a mask is created from how the values evaluate in the expression.

In [ ]:
# Create a mask automatically via a True/False statement
mask = (s <= 3)
display(mask)

In [ ]:
# Which we can then use to index the series as before
s[mask]

So while it appears complicated at the outset, boolean indexing is means to filter your dataset based on whether the values meet a condition.
(Much like a SQL 'WHERE' statement!)

---
### 2.4 Assigning Values to a Series:
Data Indexing or Slicing is often used not just for 'selection and display purposes', but also for assigning new values to a Series. Below are some examples of how to do this:

In [11]:
s = pd.Series([1, 2, 3, 4])
display(s)

# Assign a new value to single element

s.iloc[0] = 9000
display(s)

# Assign a single value to a slice
s.iloc[1:2] = 9005
display(s)

# Assign multiple values to a slice
s.iloc[2:4] = [9010, 9015]
display(s)

0    1
1    2
2    3
3    4
dtype: int64

0    9000
1       2
2       3
3       4
dtype: int64

0    9000
1    9005
2       3
3       4
dtype: int64

0    9000
1    9005
2    9010
3    9015
dtype: int64

---
## 3. DataFrames - Data Indexing and Selection:

Recall that __DataFrames__ are 2-dimensional objects of data, indexed by its rows and columns. 

We can index a DataFrame object in one of the following ways:
- __Explicit vs Implicit Indexing__
- __Slicing__
- __Boolean Indexing__
- __Column Selection__

In [23]:
# Useful function to make dummy data
def make_df(cols, rows):
    data = {c:[str(c) + str(c) for r in rows] for c in cols}
    return pd.DataFrame(data)

In [24]:
df = make_df("abc", [1, 2, 3, 4])
display(df)

    a   b   c
0  aa  bb  cc
1  aa  bb  cc
2  aa  bb  cc
3  aa  bb  cc

---
### 3.1 Explicit vs Implicit Indexing:
Explicit and Implicit Indexing for DataFrames work in exactly the same way as for Series, except a value in a __DataFrame__ is now uniquely identified by a pair of two keys - its column and its row.

Syntax:
-  __Explicit Indexing__ - `dataframe_name.loc[row_label, column_label]`
- __Implicit Indexing__ - `dataframe_name.iloc[row_number, column_number]`

In [34]:
df.loc[4, "a"]

KeyError: 4

---
### 3.2 Slicing:
Again, __Slicing__ a DataFrame is very similar to Slicing a Series - we shall again use the `.iloc` and `.loc` accessors. However, as __DataFrames__ are 2-dimensional objects, we now can obtain subsets of a DataFrame of all sorts and shapes!


Syntax:
- __Explicit Slicing__ - `dataframe_name.loc[start_row_label: stop_row_label, start_column_label: stop_column_label]` 
- __Implicit Slicing__ - `dataframe_name.iloc[start_row_lnum: stop_row_num, start_column_num: stop_column_num]`

Depending on what output we are after, we can use a number of variations to the above syntax! Let's look into some examples!

In [26]:
# Explicit Slicing -- getting a sub-dataframe
df.loc[6:7, 'b':'c'] # Remember the stop index IS included

Empty DataFrame
Columns: [b, c]
Index: []

In [27]:
# Implicit Slicing -- getting just the second row in full
# note - df.iloc[1] yields the same!
display(df.iloc[1,:])

a    aa
b    bb
c    cc
Name: 1, dtype: object

In [28]:
# Note that as the data we're selecting is 1-dimensional, this slice returns a Series
type(df.iloc[1])

pandas.core.series.Series

In [29]:
# Explicit Slicing -- getting the 2nd and 3rd row in full
# note - df.loc[6:7,:] yields the same!
display(df.loc[6:7])

Empty DataFrame
Columns: [a, b, c]
Index: []

---
### 3.3 Boolean Indexing  (Masking):

__Boolean Masking__ works on DataFrames in a similar way it does on Series. A 1-dimensional mask is passed to the 2-dimensional DataFrame, and it filters down the __rows__. The result is a new DataFrame with the same number of columns but fewer rows.

In [30]:
# Explicit Masking -- it returns only the rows that correspond to True
mask = [False, True, False, True] 
df[mask]

    a   b   c
1  aa  bb  cc
3  aa  bb  cc

In [31]:
# Implicit Masking - it checks for which row contains a column 'a' value of a3
mask = (df['a'] == 'a3')
display(df[mask])

# Note: the '()' brackets aren't needed, but just help visually distinguish the mask
mask = df['a'] == 'a3'
display(df[mask])

Empty DataFrame
Columns: [a, b, c]
Index: []

Empty DataFrame
Columns: [a, b, c]
Index: []

---
### 3.4 Column Selection:

With DataFrames, we also have the option of __column selection__. 
We can specify which columns we would like to select in the following way:

Synthax: 
- __Select Multiple Columns__ - `dataframe_name[['col1, col2, ...]]'`
- __Select a Single Column & Return a DataFrame__ - `dataframe_name[['col1']]`
- __Select a Single Column & Return a Series__ - `dataframe_name[col1]`

In [32]:
display(df['b']) # return a 1-column Series
display(df[['b']]) # return a 1-column DataFrame
display(df[['a', 'b']]) # return a multi-column DataFrame

0    bb
1    bb
2    bb
3    bb
Name: b, dtype: object

    b
0  bb
1  bb
2  bb
3  bb

    a   b
0  aa  bb
1  aa  bb
2  aa  bb
3  aa  bb

## 4. Summary:
- __Data Indexing__ refers to selecting a sub-part of data from a Pandas Objects. The main ways to do this is via:
    - __Explicit vs Implicit Indexing__ - applicable to both DataFrames and Series
    - __Slicing__ - applicable to both DataFrames and Series
    - __Boolean Masking__ -applicable to both DataFrames and Series
    - __Column Selection__ - applicable to DataFrames only

---
## 5. Concept Check:
1. What are the different ways we can index a series?
2. Suppose you have a series pd.Series([1,2,3,4], index=['a','b','c','d'])
-  Using implicit and explicit indexing, get the second element
-  Using explicit indexing, slice the series to get the first three elements
-  Using a boolean mask, select the even numbers s[s % 2 == 0]

In [43]:
# TODO
s1 = pd.Series([1,2,3,4], index=['a','b','c','d'])
s1

#Explicit
display(s1.loc['b'])

#Implicit
display(s1.iloc[1])

display(s.loc[:"c"])
mask = (s%2 == 0)

display(s[mask])

2

2

0    9000
1    9005
2    9010
3    9015
dtype: int64

0    9000
2    9010
dtype: int64